@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  font-family: "Montserrat";
  color: rgb(19, 19, 19);
}

p{
    font-size: 20px;
    font-family: 'Laila', serif;
    line-height: 1.5;
    font-style: normal;
    color: #1f1f1f;
    /*letter-spacing: 0;
    font-weight: normal;*/
}

h2{
    font-size: 34px;
    font-family: 'Oswald',sans-serif;
    line-height: 1.1;
    font-style: normal;
    color: #e0e0e0;
    font-weight: 300;
}

a {
  text-decoration: none;
}

html, body{
    min-height: 100%;
}

body {
    background: #8b8b8b;
    background-repeat: no-repeat;
}

.site {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.site-content {
  flex-grow: 1;
}

/*Navbar and footer*/
  .layout {
    max-width: 1200px;
    margin: 0 auto;
  }
  nav {
    background-color: rgb(31, 31, 31);
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 20px 50px;
  }
  nav h1{
    font-size: 44px;
    line-height: 1.1;
    font-style: normal;
    color: #e0e0e0;
    font-weight: 300;
  }
  nav .links {
    display: inline-block;
    text-align: right;
    align-items: center;
  }
  nav a {
    padding-top: 10px;
    display: inline-block;
    color: white;
    margin-left: 20px;
    font-weight: 400;
    padding-bottom: 8px;
    border-bottom: 3px solid transparent;
    text-decoration: none;
  }
  nav a:hover {
    border-color: white;
    color: white;
  }
  footer p{
    text-align: center;
    color: #bbb;
    margin: 40px auto;
  }